* {
  font-family: ‘Montserrat’, sans-serif;
}
body {
  /* Set the background image on the whole page */
  background-image: url('./images/pierre-bamin-UgHM_w05lr4-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
nav h1 {
  font-size: 48px;
  font-weight: 600;
  color: rgb(16, 8, 184);
}
.block {
  margin-right: 20px;
  margin-left: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding-bottom: 50px;
}

#container-center {
  width: 600px;
  max-width: 95%;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}

#search-bar {
  flex-grow: 1;
  margin-right: 10px;
  margin-top: 40px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

#search-button {
  /* flex: 0 0 auto; */
  height: 50px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
}

.form-container {
  max-width: 500px;
/* form size */
  margin: auto;
  padding: 20px;
}
#books {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  justify-content: center;
  
}
/*controls the width of the card*/
.book {
  width: 400px;
}


#word-box {
  display: block;
  margin-top: 20px;
  border: solid 1px;
  block-size: auto;
}

.box {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  padding: 10px;
  color: rgb(243, 235, 87);
  margin: 5px;
}
footer h4 {
  font-weight:600;
}